@property --hue {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

body.gaming {
  background-color: #1c1c26;

  .pageTitle,
  a {
    color: #fff;
  }
}

.gamingArea {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 48px;
  color: #fff;
  letter-spacing: 0.05em;
}

.gamingWrapper {
  margin-bottom: 64px;
}

.gamingText {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

.character {
  color: hsl(calc(var(--hue) + var(--index) * 36deg) 80% 70%);
  text-shadow: 0 0 0.1em hsl(calc(var(--hue) + var(--index) * 36deg) 80% 85%);
  animation: hueRotation 3s linear infinite;
}

.gamingButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 56px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  appearance: none;
  background-color: #fff;
  background-image: linear-gradient(
      60deg,
      hsla(var(--hue) 95% 60% / 100%) 0%,
      hsla(calc(var(--hue) + 36deg) 95% 60% / 0%) 100%
    ),
    linear-gradient(
      180deg,
      hsla(calc(var(--hue) + 72deg) 95% 60% / 100%) 0%,
      hsla(calc(var(--hue) + 108deg) 95% 60% / 0%) 100%
    ),
    linear-gradient(
      240deg,
      hsla(calc(var(--hue) + 144deg) 95% 60% / 100%) 0%,
      hsla(calc(var(--hue) + 180deg) 95% 60% / 0%) 100%
    );
  border: none;
  border-radius: 28px;
  box-shadow: 0 0 24px 1px rgba(255 255 255 / 50%);
  animation: hueRotation 5s linear infinite;
}

@keyframes hueRotation {
  from {
    --hue: 0deg;
  }

  to {
    --hue: -360deg;
  }
}
